body{
    background-color: rgb(11, 8, 16);
}
h1{
    font-size:60pt;
    font-family: 'Lugrasimo', cursive;
    font-family: 'VT323', monospace;
    text-align: center;
    color: rgb(71, 53, 230);

}
h2{
    font-size: 40pt;
    font-family: 'Lugrasimo', cursive;
    font-family: 'VT323', monospace;
    color: rgb(255, 255, 255);
}   
.environment{
    width: 80%;
    

}
.spell{
    width: 40%;

}
hr{
    border-style: dotted none none;
    border-width: 10px;
    border-color: rgb(255, 1, 191);
}
table{
    align-content: center;
}
.emoji{
    height: 20px;
}
p{
    font-family: 'Lugrasimo', cursive;
    font-family: 'VT323', monospace;
    color: aliceblue;
    font-size: 20px;
}